<h1>Hello!</h1>

<a href="https://www.youtube.com/watch?v=-0YDqj4EPNk&t=939s">Nhan vao de sem ciu any:3</a><br>
<span>Be {{name}} rat thich ciu any moemoe:3</span>
<br>

<span *ngIf="age < 18; then condition1; else condition2"></span>
<!-- <span>{{ sayHello }}</span> <br> -->
<ng-template #condition1>
    <div class="cant-makelove">Ban co the vao tu neu makelove do!</div>
</ng-template>
<ng-template #condition2 class="can-makelove">Ban co the makelove thoai mai!!!</ng-template>
<br>
<input [(ngModel)]="name" type="text">
<button (click)="greetMe()">Tang tuoi len di nao!</button>

<div>
    <select>
        <option *ngFor="let vehicle of vehicles">
            {{ vehicle }}
        </option>
    </select>
</div>