h1 {
    color: red;
    font-size: 100px;
    justify-content: center;
    text-decoration: line-through;
}

.cant-makelove {
    color: red;
    font-size: 32px;
}

.can-makelove {
    color: yellow;
    font-size: 100px;
}